$main-color: #232222;
$grey: #5C5C5C;
$grass: #78C850;
$normal:#A8A878;
$fire:#E97F34;
$water:#6890F0;
$electric:#F8D030;
$ice:#98D8D8;
$fighting:#C03028;
$poison:#D589AC;
$ground:#E0C068;
$flying:#A890F0;
$psychic:#F75987;
$bug:#A8B820;
$rock:#B29C3F;
$ghost:#7B6D7D;
$dragon:#7038F8;
$dark:#705848;
$steel:#A8A5B4;
$fairy:#F0B6BC;